
header, footer{
    background-image: url("/images/monstro.jpg");
}

body{
    background: #860609;
    padding-top: 10%;
    text-align: center;
}

.m{
    
    display: inline-block;
    text-align: center;
    vertical-align: top;
    background: black;
    font-family: 'Metal Mania', cursive; border: 10px solid;
    box-sizing: border-box;
    width: 25%;
    border-top: 10px solid;
    border-radius: 0px 20px;
    border-color: white; 
}

.qrcode{
    z-index: 100;
    border-radius: 10px;
    text-align: center;
    width: 90%;
    margin-top: 10px;    
}

.texto{
    padding: 30px;
    padding-top: 25px;
    color: white; 
}

.creditos{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 15px;
    padding-top: 15px; 
    text-align: center;
}